* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: #1c39df;
    --dark-blue-color: #14289c;
    --white-color: #fdfefe;
    --gray-color: #ccd1d1;
    --white-gray-color: #e0e3e3;
    --orange-color: #ba4a00;
}


/* How to fonts */
/* https://stackoverflow.com/questions/4872592/use-multiple-font-face-rules-in-css */
@font-face {
    font-family: NatoSans-Font;
    src: url("static/fonts/NotoSans-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: NatoSans-Font;
    src: url("static/fonts/NotoSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: NatoSans-Font;
    src: url("static/fonts/NotoSans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: NatoSans-Font;
    src: url("static/fonts/NotoSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: NatoSans-Font;
    src: url("static/fonts/NotoSans-Black.ttf");
    font-weight: 900;
}



html {
    font-size: 62.5%;
}

/* Very important for fixing overflow problem!!!!!!!!!!!! */
/* https://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one */
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:  var(--white-gray-color);
    font-family: NatoSans-Font, sans-serif;
}

.central-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 80rem;
    max-height: 70rem;
    background-color: var(--white-color);
}

.left-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-container .title {
    font-size: 2rem;
    margin-top: 4rem;
    font-weight: 500;
}

.white-space{
    max-height: 7rem;
    min-height: 3rem;
    height: 100%;
}

.form {
    max-width: 30rem;
    width: 100%;

}


.form h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.form p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--blue-color);

}

.form-group{
    /* height: 5rem; */
    position: relative;
    margin-top: 2rem;
    display: flex;
}


.form-control {
    height: 5rem;
    max-width: 30rem;
    width: 100%;
    border: 1.5px solid #ccd1d1;
    border-radius: 1rem;
    outline: none;
    padding-left: 5rem;
    padding-top: 1.5rem;
}

.form-control:focus{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.form-group p {
    position: absolute;
    left: 5rem;
    top: 0.5rem;
}

.error-container {
    height: 1.4rem;
}

.alert {
    font-size: 1.3rem;
    color:  var(--orange-color);
    text-align: center;
}


.icons-user {
    position: absolute;
    width: 4rem;
    top: 50%;
    left: 0;
    padding: 0.5rem 1rem;
    border-right: 1px solid #ccd1d1;
    transform: translate(0, -50%);
    filter: invert(26%) sepia(81%) saturate(4624%) hue-rotate(31deg) brightness(99%) contrast(101%);
}

.icons-key {
    position: absolute;
    width: 4rem;
    top: 50%;
    left: 0;
    padding: 0.5rem 1.2rem;
    border-right: 1px solid #ccd1d1;
    transform: translate(0, -50%);
    filter: invert(26%) sepia(81%) saturate(4624%) hue-rotate(31deg) brightness(99%) contrast(101%);
}

.btn {
    max-width: 30rem;
    width: 100%;
    height: 4.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
    border: transparent;
    font-weight: 700;
    background-color: var(--blue-color);
    color: #fdfefe;
    transition: 0.2s all ease-in;
}


.btn:hover{
    background-color: var(--dark-blue-color);
    cursor: pointer;

}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 30rem;
    height: 100%;

}

.about{
    display: flex;
    margin-top: 2rem;
    position: relative;
    width: 30rem;
    justify-content: center;
}


.about p {
    align-self: center;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem;
    display: inline-block;
    z-index: 2;
    background-color: var(--white-color);

}

.line{
    position: absolute;
    top: 18px;
    left: 0px;
    width: 30rem;
    border-top: 1.5px solid #ccd1d1;
    z-index: 1;
}


.icon-links{
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;

}

.linkedin{
    width: 3rem;
}

.github{
    width: 3rem;
}

.white-space-2 {
    max-height: 9rem;
    /* min-height: 3rem; */
    height: 100%;
    margin-top: 3rem;
}

footer {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue-color);
    margin-bottom: 3rem;
}

span{
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--orange-color);
}


/* --------------RIGHT CONTAINER------------------------- */

.right-container {
    width: 50%;
}

/* https://stackoverflow.com/questions/11757537/css-image-size-how-to-fill-but-not-stretch */
.right-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1px 1px 1px 0;
}

/* ---------RESPONSIVE---------------------------------------------------------------------- */

@media (max-width: 690px){
    .left-container{
        width: 60%;

    }

    .right-container {
        width: 40%;

    }
}

@media (max-width: 590px) {
    .left-container {
        width: 100%;

    }

    .right-container{
        display: none;

    }
}

@media (max-width: 320px){
    .central-container{
        padding: 0 1.5rem;
    }
}

@media (max-width: 220px) {
    .central-container{
        width: 22rem;
    }

}

@media (max-height: 580px){
    footer {
        margin-bottom: 0;
    }
}

@media (max-height: 550px){
    footer {
        display: none;
    }

}

@media (max-height: 510px){
    .central-container{
        height: 510px;
    }
}
