<div class="central-container">
  <!---------------------- LEFT CONTAINER--------------------------------- -->
  <div class="inner-container">
    <h2 class="title">SG auto-part application</h2>
    <div class="white-space"></div>
    <div class="form">
      <h2>Welcome Back</h2>
      <p>Welcome back, Please enter your details</p>
      <form>
        <button class="btn">Login</button>
      </form>
    </div>

    <div class="bottom-container">
      <div class="about">
        <p>About the author</p>
        <div class="line"></div>
      </div>

      <div class="icon-links">
        <a href="https://www.linkedin.com/in/mihai-iordache-27a98615a/" target="_blank">
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
        <a href="https://github.com/SuperGini" target="_blank">
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </div>
      <div class="white-space-2"></div>
      <footer class="footer">
        <p>code by SuperGini<span>&trade;</span> </p>
      </footer>
    </div>
  </div>
</div>
