<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <title>Document</title>
</head>
<body>
<div class="central-container">
    <div class="left-container">
        <h2>User management</h2>
        <form th:action="@{/createUser}"  method="post" th:object="${userRequest}" class="create-user-form">
            <div class="form-group">
                <img src="./svg/user.svg" alt="" class="icons-user">
                <p>username</p>
                <input type="text" th:field="*{username}" class="form-control">
            </div>
            <div class="form-group">
                <img src="./svg/email.svg" alt="" class="icons-user">
                <p>email</p>
                <input type="email" th:field="*{email}" class="form-control">
            </div>
            <div class="form-group">
                <img src="./svg/lock.svg" alt="" class="icons-key">
                <p>password</p>
                <input type="password" th:field="*{password}" class="form-control">
            </div>
            <div class="form-group">
                <img src="./svg/phone.svg" alt="" class="icons-key">
                <p>phone1</p>
                <input type="text" th:field="*{phoneNumbers.phoneNumber1}" class="form-control">
            </div>
            <div class="form-group">
                <img src="./svg/phone.svg" alt="" class="icons-key">
                <p>phone2</p>
                <input type="text" th:field="*{phoneNumbers.phoneNumber2}" class="form-control">
            </div>
            <div class="check-box">
                <div th:each="ath : ${auth}">
                    <input  type="checkbox"  th:field="*{authorities}" th:value="${ath}">
                    <label th:text="${ath}"></label>
                </div>
            </div>
            <input type="submit" class="btn" value="Create user">
        </form>
        <div class="white-space-2"></div>
        <footer class="footer">
            <p>code by SuperGini<span>&trade;</span></p>
        </footer>
    </div>
    <div class="right-container">
        <div class="user-container">
<!--    https://stackoverflow.com/questions/24256051/delete-or-put-methods-in-thymeleaf        -->
            <form th:each="user: ${users}" class="user-item" th:method="delete" th:action="@{/deleteUser(id=${user.id()})}">
                <p th:text="${user.username()}"></p>
<!--                <a th:href="@{/deleteUser(id=${user.id()})}">xxx</a>-->
                <input type="submit" value="Delete" class="btn-delete">
            </form>
        </div>
        <div class="arrows-container">
            <img src="./svg/arrowleft.svg" alt="" class="arrows">
            <img src="./svg/arrowright.svg" alt="" class="arrows">
        </div>
    </div>

</div>
</body>
</html>
