.home-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-container{
  max-width: 100rem;
  max-height: 80rem;
  width: 100%;
  height: 100%;
  background: var(--white-color);
  display: flex;
}

.left-container{
  width: 20%;
  border: 1px solid #b3b6b6;
  border-right: transparent;
}

.right-container{
  width: 80%;
  border: 1px solid #b3b6b6;
}
